

<div class="container">


    <h2>NgFor Demo</h2>
    <hr/>
    <app-employee-list></app-employee-list>

    <!-- <h2>Ng IF Demo</h2>
    <hr/>

    <app-employee></app-employee> -->


    <!-- <h2>Two Way Data Binding</h2>
    <hr/>

    <app-bidirection></app-bidirection> -->

<!-- <h2>Template Reference</h2>
<hr/>
<app-template-reference></app-template-reference> -->


<!-- <h2>Event Binding Demo</h2>
<hr/>
<app-eventbinding></app-eventbinding> -->


<!-- 
   <h2>Style Binding Demo</h2>
   <hr/>
   <app-stylebinding></app-stylebinding> -->

    
    <!-- <h2>Class Binding Demo</h2>
    
    <hr/>
    <app-classbinding></app-classbinding> -->


    <!-- <h2>Property Binding Demo</h2>
    <app-propertybinding></app-propertybinding>

    <hr/>
    <h2>Interpolation Demo</h2>
    <hr/>
    <app-bindings></app-bindings>
    <hr> -->
</div>




