<h3>Employee List</h3>


<div style="border:1px solid black">
    <app-employee-count [allEmployees]="getTotalEmployeeCount()"
     [maleEmployees]="getMaleEmployeeCount()"
      [femaleEmployees]="getFemaleEmployeeCount()"    
      (genderRadioButtonSelectionChangedEvent)="onSelectedFilter($event)"></app-employee-count>
    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>           
                <th>Age</th>
            </tr>
        </thead>
        <tbody>

            <ng-container *ngFor="let employee of employees">
                <tr *ngIf="selectedGenderFilter ==='all' || selectedGenderFilter === employee.gender">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.age}}</td>
                </tr>
        
                <tr *ngIf="employees.length==0">
                    <td colspan="5">No records found</td>
                </tr>
            </ng-container>
            
        </tbody>
    </table>
</div>
